# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env/
.env


# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Output files
output.xlsx
mapped.xlsx

# Temp
*.tmp
